.profile {
    position: relative;
    width: 280px;
}

.profile .delete{
    position: absolute;
    right: -10px;
    top: -10px;
}

.profile .header {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.profile img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.profile .footer {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    color: #212121;
}

.profile .footer h4 {
    width: 200px;
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.profile .footer h5 {
    width: 200px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 0 16px;
}